<meta charset="UTF-8" />
<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <keep-alive>
    <!-- :form-data = props: ['formData'] -->
    <component
      :is="currentForm"
      @setting-form="updateForm"
      @update="updateInfo"
      :form-data="computedForm"
    ></component>
  </keep-alive>
</div>

<script type="text/x-template" id="form1">
  <label>姓名</label>
  <input v-model="name"> <br/>
  <label>電話</label>
  <input v-model="phone"> <br/>
  <input type="button" value="下一步" @click="nextSteps">
</script>

<script type="text/x-template" id="form2">
  <label>地址</label>
  <input v-model="address"> <br/>
  <input type="button" value="上一步" @click="preSteps">
  <input type="button" value="下一步" @click="nextSteps">
</script>

<script type="text/x-template" id="form3">
  <label>您的資料</label>
  <div>{{ formData.name }}</div>
  <div>{{ formData.phone }}</div>
  <div>{{ formData.address }}</div>
  <input type="button" value="上一步" @click="preSteps">
</script>

<script>
  const app = Vue.createApp({
    data() {
      return {
        currentForm: "personal-form",
        form: {}
      };
    },
    computed: {
      computedForm: function () {
        if (this.currentForm == "final-form") {
          return this.form;
          // this.form = 上面 data 的 return 的 form: {}
        }
      }
    },
    methods: {
      updateForm(value) {
        this.currentForm = value;
      },
      updateInfo(data) {
        this.form[data.key] = data.value;
      }
    }
  });

  app.component("personal-form", {
    template: "#form1",
    data() {
      return {
        name: "",
        phone: ""
      };
    },
    methods: {
      nextSteps() {
        this.$emit("setting-form", "address-form");
      }
    },
    watch: {
      name: {
        handler(value) {
          this.$emit("update", { key: "name", value: value });
        }
      },
      phone: {
        handler(value) {
          this.$emit("update", { key: "phone", value: value });
        }
      }
    }
  });

  app.component("address-form", {
    template: "#form2",
    data() {
      return {
        address: ""
      };
    },
    methods: {
      preSteps() {
        this.$emit("setting-form", "personal-form");
      },
      nextSteps() {
        this.$emit("setting-form", "final-form");
      }
    },
    watch: {
      address: {
        handler(value) {
          this.$emit("update", { key: "address", value: value });
        }
      }
    }
  });

  app.component("final-form", {
    template: "#form3",
    props: ["formData"],
    methods: {
      preSteps() {
        this.$emit("setting-form", "address-form");
      }
    }
  });

  app.mount("#app");
</script>
